body {
	font-family: "Tahoma", sans-serif;
}

.top_container {
	border: 1px solid #ddd;
	margin: 15px 15px 0px 15px;
	padding: 15px;
}

.clear {
	clear: both;
}

.logo {
	width: 32px;
	height: 32px;
	margin-right: 5px;
}

.search_field {
	height: 34px;
	padding: 5px;
	margin-right: 10px;
	vertical-align: middle;

	border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search_form_1 {
	float: left;
}

.search_form_2 {
	float: left;
	padding: 5px;
}

.search_form_2 label {
	margin-right: 10px;
	font-weight: 300;
}

.error_message {
	text-align: center;
	color: #d00;
	padding: 5px;
	font-size: 12px;
}

.player_info {
	float: left;
	margin: 2px 10px 0px 40px;
	line-height: 0.75;
}

.game_mode_list {
	float: right;
}

@media (max-width: 830px), (max-device-width: 600px) {
	.search_form_1 {
		float: none;
		margin-bottom: 10px;
	}

	.search_form_2 {
		float: none;
		text-align: right;
	}

	.search_field {
		margin-right: 0px;
		width: calc(100% - 37px);
	}

	.player_info {
		float: none;
		margin: 10px 0px 0px 0px;
	}

	.game_mode_list {
		float: none;
    margin-top: 15px;
	}

	.separator {
		display: none;
	}
}

.platform_icon {
	width: 25px !important;
}

.player_name {
	font-size: 20px;
	font-weight: 600;
	margin-left: 10px;
}

.player_stat {
	font-size: 12px;
	font-weight: 400;
	margin-left: 36px;
	line-height: 10pt;
}

.clan_tag {
	font-size: 12px;
	font-weight: 400;
	color: #aaa;
}

.character_list {
	padding: 7px;
}

.character_container {
	padding: 7px;
}

.character_carousel {
	padding: 15px;
}

.character {
	background: #eee;
	padding: 20px 20px 20px 90px;
	background-size: cover;
	color: white;
	display: block;
  background-size: cover;
}

.active_character {
    padding: 10px 10px 10px 50px;
    max-width: 275px;
    height: 55px;
    margin: 0px 1px 10px 1px;
    background-size: cover;
}

.emblem {
	width: 50px;
	height: 55px;
	vertical-align: middle;
  background-size: cover;
  cursor: pointer;
  margin: 0px 1px 10px 1px;
}

.classType {
	vertical-align: middle;
	font-size: 12pt;
}

.level {
	vertical-align: middle;
	font-size: 11pt;
	margin-left: 8px;
}

.light {
	color: yellow;
}
.light:before {
  content: "◆";
  font-size: 8pt;
  margin-right: 2px;
  vertical-align: text-top;
}

.char_info {
  color: #fff;
  font-size: 7pt;
}

.character_stats {
	margin-bottom: 10px;
}

.no_stats {
  text-align: center;
  font-size: 9pt;
  padding: 17px;
  margin-top: 5px;
  border: 1px solid #eee;
}

.character_stats tr {
	border: 0;
}

table {
	width: 100%;
	margin-top: 5px;
	border: 1px solid #eee;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	text-align: center;
	font-size: 9pt;
	padding: 4px;
	/*border: 1px solid #000;*/
}

td.good {
	color: #337ab7;
}

td.bad {
	color: #ed774c;
}

td.tie {
	color: #999;
}

td.stat_label {
	text-align: right;
	color: #777;
	font-weight: 300;
}

td.stat_value {
	text-align: left;
	color: #000;
	font-weight: 400;
}

td.map {
	text-align: left;
}

thead {
	font-weight: 500;
	background: #eee;
}

.daily_stat td {
	border-top: 10px solid white;
	font-weight: bold;
	background-color: #eee;
	cursor: pointer;
}

.daily_stat td.left {
	text-align: left;
}

.daily_stat_details {
	background-color: #eee;
}

img.activity_icon {
	width: 16px;
	height: 16px;
	-webkit-filter: invert(1);
  filter: invert(1);
}

img.trials_icon {
	width: 16px;
	height: 16px;
  margin-right: 5px;
}


table.activity_details {
	margin: 0;
	background-color: #f5f5f5;
}

table.activity_details tr.title {
	background-color: #555;
	color: white;
}

table.activity_details tr.team {
	font-weight: 600;
}

table.activity_details td.player {
	padding-left: 5px;
	text-align: left;
}

tr.activity {
	cursor: pointer;
}

tr.player {
  cursor: pointer;
}

.activity_list td .spinner {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: -3px;
}

.about {
  background-color: #f5f5f5;
	border: 1px solid #ddd;
	margin: 15px 15px 0px 15px;
	padding: 15px;
}

.about h1 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.about ul {
  margin-top: 10px
}

.about li {
  margin-top: 5px
}

table.fixed td:nth-of-type(1) {
    width: 10px
}
table.fixed td:nth-of-type(2) {
    width: calc(45% - 10px)
}
table.fixed td:nth-of-type(3) {
    width: 9%
}
table.fixed td:nth-of-type(4) {
    width: 9%
}
table.fixed td:nth-of-type(5) {
    width: 9%
}
table.fixed td:nth-of-type(6) {
    width: 10%
}
table.fixed td:nth-of-type(7) {
    width: 18%
}

div.bottom-spinner {
    width: 40px;
    height: 40px;

    position: fixed;
    bottom: 0;
    right: 0;
}

div.bottom-spinner i {
    font-size: 36px;
}

table.player_details {
  background-color: #fff
}

table.player_details td:nth-of-type(2) {
  text-align: left;
}

img.weapon_icon {
    margin-left: 6px;
    width: 24px;
    height: 24px;
}

.game_container {
  padding-top: 10px;
}

.floating-list {
	position: absolute;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #337ab7;
	z-index: 1000;
}

.floating-list ul {
	padding: 4px;
	margin: 0px;
}

.floating-list li {
	font-size: 13px;
	line-height: 24px;
	display: block;
	padding: 3px 5px 3px 5px;
}

.floating-list li:hover {
	cursor: pointer;
	background-color: #b8daff;
}

.floating-list svg {
  margin-right: 5px;
}

.fa-lg {
	font-size: 1.6em;
}

.search-results {
	top: 59px;
	left: 53px;
	min-width: 159px;
	margin: 15px 15px 0px 15px;
	padding: 5px;
}