body {
    padding: 10px 20px 0px 20px;
    background-color: white;
    font-size: 10pt;
    font-family: sans-serif;
}

/* page title */
h1 {
    padding: 0px;
    margin: 0px;
    font-size: 16pt;
    font-weight: 400;
}

/* username */
h2 {
    padding: 0px;
    margin: 0px;
    font-size: 16pt;
    font-weight: 400;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #999; */
}

.header-container {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb;
}

.footer-container {
    
}

/* character list */
.emblem {
	width: 50px;
	height: 55px;
    background-size: cover;
    cursor: pointer;
    margin: 0px 1px 10px 1px;
}

.banner {
    text-align: center;
    line-height: 55px;
    height: 55px;
    font-size: 16px;
    background-size: cover;
    cursor: pointer;
    font-family: sans-serif;
    color: white;
    padding-left: 50px;
    padding-right: 10px;
}

.light {
    color: yellow;
    margin-left: 5px;
    font-size: 12pt;
}
.light:before {
  content: "◆";
  font-size: 10pt;
  margin-right: 2px;
}

/* loadouts */

.loadout-container {
    min-width: 650px;
    /* border: 1px solid green; */
}

.loadout {
    /* border: 1px solid #999; */
    background-color: #eee;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    max-width: 670px;
}

.loadout .col-armor {
    width: 60px;
    padding: 0px;
}

.loadout .col-stat {
    padding: 0px;
    font-size: 12px;
}

.armor_full {
    width: 220px;
    display: flex;
    margin: 3px;
    padding: 3px;
    background-color: white;
}

.armor {
    width: 55px;
    /* margin: 5px; */
    position: relative;
}

.armor .armor_tooltip {
    display: none;
    position: absolute;
    left: 45px;
    top: 10px;
    width: 240px;
    height: 60px;
    background-color: white;
    border: 1px solid #bbb;
    z-index: 999;
}

.armor:hover .armor_tooltip {
    display: block;
}

.armor_icon {
  position: relative;
  width: 55px;
}

.armor_icon img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.masterwork img {
    border: 2px solid gold;
}

.armor_icon .armor_level {
    position: absolute;
    margin: 0 auto;
    left: 15px;
    top: 38px;
    color: white;
    font-size: 9pt;
}

.armor_info {
    flex: 1;
    padding: 3px 5px 0px 10px;
}

.armor_info .armor_stat {
    font-size: 9pt;
}

.armor_info .armor_mod {
    line-height: 10px;
    font-size: 7pt;
    margin: 0
}


label {
    font-weight: normal;
}


.row {
    /* margin: 10px 0px 10px 0px; */
}

.btn-group {
    vertical-align: top;
}

.right {
    text-align: right;
}


/* spacers */
.mt {
    margin-top: 15px;
}

.mb {
    margin-bottom: 15px;
}

.ml {
    margin-left: 15px;   
}

.mr {
    margin-right: 15px;
}

.pr {
    padding-right: 15px!important;
}

/* antd overrides */
label.ant-checkbox-wrapper {
    font-size: 14px;
}
