RewriteEngine On
RewriteRule ^(pc|psn|xbox|game)/(.*?)/?$ /index.html [L]
RewriteRule ^d1\/(psn|xbox)/(.*?)/?$ /d1/index.html [L]

Header add Access-Control-Allow-Origin *
Header add Access-Control-Allow-Credentials "true"
Header add Access-Control-Allow-Headers "origin, content-type"

ErrorDocument 404 /404.html
