(function() {
    window.Config = {
        "windowTitle": "Destiny 2 PvP Stats",
        "basePath": "/platform/Destiny2",
        "baseUrl": "https://www.bungie.net",
        "useProxy": true,
        "proxyUrl": "http://destinypvpstats.com/proxy.php"
    }
}());
